<div class="col-sm-4">
	<div class="sb-team-module">

		<div class="sb-team-module-header">
			<h4 class="sb-team-name">
				<%= link_to team.name, team %>
			</h4>
			<p class="sb-team-desc">
				 <%= team.description %>
			</p>
		</div>

		<div class="sb-team-logo">
			<%= image_tag team.photo_url, alt: team.name %>
		</div>

		<div class="sb-team-module-footer">
	    	<% if omniauthable_signed_in? %>
				<span class="text-success"><%= number_to_currency(team.funding) %> Total Funding</span>
	      	<% else %>
		        <p><a href="<%= root_path %>">Log in or register</a> to see stats for this team.</p>
	      	<% end %>

		    <% if can?(:invest, team) %>
		        <%= link_to new_team_investment_path(team),
		          class: "btn btn-xs btn-success", role: "button" do %>
		          <i class="fa fa-dollar"></i> Invest
		        <% end %>
		      <% elsif can?(:edit_team, team) %>
		        <small><%= link_to edit_team_path(team),
		          class: "pull-right", role: "button" do %>
		          Edit your team
		        <% end %>
		      </small>
		      <% end %>

<br />

<div class="row">
	<div class="col-sm-8">
		      <span class="sb-team-meta"><%= link_to team.bus_name, team.bus %></span>
		    </div>
	<div class="col-sm-4">
						<span class="sb-team-meta-score pull-right"><%= team.score %> Points</span>

	</div>
	</div>
	</div>
		</div>

</div>


