<% unless omniauthable_signed_in? %>
	<div class="marketing">
		<h2>StartupBus is en route to Texas from 7 cities around North America</h2>
		<h3>Become a StartupBus Investor and help your favorite teams take the gold in 2014.</h3>

		<br />

		<div class="row">
			<div class="col-md-4  col-md-offset-4">
				<% unless omniauthable_signed_in? %>
					<%= link_to omniauthable_omniauth_authorize_path(:facebook), class:"btn btn-default btn-facebook" do %>
						Register with Facebook to get started
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<% if @investor.present? && @investor.investments.present? %>
<section class="box">
	<h3 class="pull-left">Your Investments (<%= @total_clicks %> clicks - $<%= @investor.bank %> remaining)</h3>
	<div class="clearfix"></div>
	<br />
	<div class="row">
		<%= render partial: "investments", collection: @investor.investments.select("url, amount, team_id").joins(:team).group(:team_id, :url).order(:amount) %>
	</div>
	</section>
<% end %>
<section class="box">
	<h3 class="pull-left">StartupBus Teams</h3>

	<% if can?(:create_team, :all) and @current_omniauthable.is_a?(Buspreneur) and @current_omniauthable.team.nil? %>  
	    <a href="<%= buspreneur_path current_omniauthable %>" class="pull-right btm btn-primary btn-sm">Join Team</a>
		<a href="<%= new_team_path %>" class="pull-right btm btn-primary btn-sm">Create Team</a>
	<% end %>

	<div class="clearfix"></div>
	<br />

	<div class="row">
		<%= render @teams %>
	</div>
</section>