<section class="sb-container-header">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag image_path('bus-icons/cali.png'), :class => 'sb-bus-img' %>
    </div>
    <div class="col-md-9">
      <h2><%= @team.name %></h2>
      <p class="lead">Travelling to Austin all the way from NYC, these teams will probably win.</p> 
    </div>
  </div>
</section>

<div class="large-container">


  <h1><%= @team.name %></h1>

<div class="container">
  <p>Bus: <%= content_tag :b, link_to(@team.bus_name, @team.bus) %></p>
  <p>Score: <%= content_tag :b, @team.score %></p>
</div>

<div class="container">
  <h3>Buspreneurs</h3>
  <%= render @team.buspreneurs, for_team: true %>
</div>

<div class="container">
  <h3>Investments</h3>
  <p>
  Total: <%= content_tag :b, number_to_currency(@team.funding) %>
    (<%= @team.investments.count %>)
  </p>
</div>

<div class="container">
  <h3>Completed Milestones:</h3>
  <%= render @team.milestones %>
</div>

<div class="container">
  <h3>Pending Milestones:</h3>
  <%= render @team.milestones_pending %>
</div>
</div>
