<<<<<<< HEAD
<section class="sb-container-header">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag image_path('bus-icons/cali.png'), :class => 'sb-bus-img' %>
    </div>
    <div class="col-md-9">
      <h2><%= @team.name %></h2>
      <p class="lead">Travelling to Austin all the way from NYC, these teams will probably win.</p> 
    </div>
  </div>
</section>

<div class="large-container">


  <h1><%= @team.name %></h1>
=======
<h1><%= @team.name %></h1>
<p><%= @team.description %></p>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail sb-item-summary">
    <%= image_tag @team.bus_photo_url(width: 50, height: 50), class: "sb-bus-icon" %>
    <%= image_tag @team.photo_url(width: 300, height: 600), alt: @team.name %>

    <div class="caption">

      <div class="clearfix">
        <%= link_to new_team_investment_path(@team),
          class: "btn btn-success col-xs-6", role: "button" do %>
          <i class="fa fa-dollar"></i> Invest
        <% end %>
      </div>
    </div>
  </div>
</div>
>>>>>>> ceaca747bd75baf23c242829d53570ed6d4362be

<div class="container">
  <p>Bus: <%= content_tag :b, link_to(@team.bus_name, @team.bus) %></p>
  <p>Score: <%= content_tag :b, @team.score %></p>
</div>

<div class="container">
  <h3>Buspreneurs</h3>
  <%= render @team.buspreneurs, for_team: true %>
</div>

<div class="container">
  <h3>Investments</h3>
  <p>
  Total: <%= content_tag :b, number_to_currency(@team.funding) %>
    (<%= @team.investments.count %>)
  </p>
</div>

<div class="container">
  <h3>Completed Milestones:</h3>
  <%= render @team.milestones %>
</div>

<div class="container">
  <h3>Pending Milestones:</h3>
  <%= render @team.milestones_pending %>
</div>
</div>
