<header>
  <div class="row">
    <div class="col-sm-1">
      <%= image_tag @team.photo_url(width: 120, height: 120), alt: @team.name, class: "pull-left" %>
    </div>

    <div class="col-sm-9">
      <h2><%= @team.name %></h2>
      <p><%= @team.description %></p>

    <% if current_omniauthable.team == @team %>
      <b>Short URL: </b> <%= link_to @team.short_url, @team.short_url %>
    <% end %>
    </div>
    <div class="col-sm-2">
      <%= content_tag :p, link_to(@team.bus_name, @team.bus) %>

      <% if can?(:invest, @team) %>
        <%= link_to new_team_investment_path(@team),
          class: "btn btn-sm btn-success", role: "button" do %>
          <i class="fa fa-dollar"></i> Invest
        <% end %>
      <% elsif can?(:edit_team, @team) %>
        <%= link_to edit_team_path(@team),
          class: "btn btn-sm btn-success", role: "button" do %>
          Edit
        <% end %>
      <% end %>
    </div>
  </div>
</header>


<section class="sb-team-leaders">
<div class="row">
<div class="col-sm-4">
  <h3>Total score</h3> 

  <%= content_tag :strong, @team.score, class: "sb-team-score" %>
</div>

<div class="col-sm-4">
  <h3>Total Investment</h3> 

  <%= content_tag :strong, @team.score, class: "sb-team-score" %>
</div>

<div class="col-sm-4">
  <h3>Total Clicks</h3> 
      <% if omniauthable_signed_in? %>

  <%= content_tag :strong, @team.score, class: "sb-team-score" %>
            <% else %>

            <p>Log in or register to see click stats for this team.</p>
            <% end %>

</div>
</div>
</section>
<section>


  <h3>Buspreneurs</h3>
  <%= render @team.buspreneurs, for_team: true %>



  <h3>Investments</h3>
  <p>
  Total: <%= content_tag :b, number_to_currency(@team.funding) %>
    (<%= @team.investments.count %>)
  </p>


  <h3>Completed Milestones:</h3>
  <%= render @team.milestones %>





  <% if can?(:request_milestone, @team) %>
    <li><%= link_to "Submit Milestone Request", new_team_milestone_request_path %></li>
  <% end %>
  <h3>Uncompleted Milestones:</h3>
  <%= render @team.milestones_uncompleted %>

</div>
</section>
