<header>
  <div class="row">
    <div class="col-sm-1">
      <%= image_tag @team.photo_url, alt: @team.name, class: "pull-left" %>
    </div>

    <div class="col-sm-9">
      <h2><%= link_to @team.name, @team.short_url %></h2>
      <p class="sb-team-desc"><%= @team.description %></p>
    <% if current_omniauthable.is_a?(Buspreneur) and current_omniauthable.team == @team %>
      <b>Short URL: </b> <%= link_to @team.short_url, @team.short_url %>
    <% end %>
    </div>
    <div class="col-sm-2  sm-team-actions">
      <%= link_to @team.bus_name, @team.bus, class: "sb-team-bus" %>
       <% if can?(:request_milestone, @team) %>
      
                <%= link_to "Submit Team Update", new_team_update_path, class:"btn btn-xs btn-primary" %>
           
          <% end %>
      <% if can?(:invest, @team) %>
        <%= link_to new_team_investment_path(@team),
          class: "btn btn-xs btn-success", role: "button" do %>
          <i class="fa fa-dollar"></i> Invest
        <% end %>
      <% elsif can?(:edit_team, @team) %>
        <br />
        <br />
        <%= link_to edit_team_path(@team),
          class: "btn btn-xs btn-default", role: "button" do %>
          Edit your team
        <% end %>
      <% end %>
    </div>
  </div>
</header>

<section class="sb-team-leaders">
   
  <div class="row">
    <div class="col-sm-4">
      <h3>Total Score</h3> 
      <% if omniauthable_signed_in? %>
       Private
      <% else %>
        <p><a href="<%= root_path %>">Log in or register</a> to see score for this team.</p>
      <% end %>

    </div>

    <div class="col-sm-4">
      <h3>Total Investment</h3> 
      <% if omniauthable_signed_in? %>
        <%= content_tag :strong, number_to_currency(@team.funding), class: "sb-team-score" %>

        <br />
        <small class="sb-team-leader-meta  muted-text"><%= @team.investments.count %> Investments</small>
      <% else %>
        <p><a href="<%= root_path %>">Log in or register</a> to see investment stats for this team.</p>
      <% end %>

    </div>

    <div class="col-sm-4">
      <h3>Total Clicks</h3> 
      <% if omniauthable_signed_in? %>
        <%= content_tag :strong, @team.clicks, class: "sb-team-score" %>
      <% else %>
        <p><a href="<%= root_path %>">Log in or register</a> to see click stats for this team.</p>
      <% end %>
    </div>
  </div>
</section>

<section>
  <h3>Buspreneurs</h3>
  <div class="row">
    <%= render @team.buspreneurs, for_team: true %>
  </div>
  <div class="clearfix"></div>
</section>

<section>
  <div class="row">
    <div class="col-sm-6">
      <h3>Uncompleted Milestones</h3>
    </div>

    <div class="col-sm-6">
      <% if can?(:request_milestone, @team) %>
        <%= link_to "Submit milestone for review", new_team_milestone_request_path, class:"btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Milestone</th>
        <th>Description</th>
        <th>Points</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <%= render @team.milestones_uncompleted %>
    </tbody>
  </table>

  <br />
  <br />

  <h3>Milestones Completed</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Milestone</th>
        <th>Points</th>
        <th>Deadline</th>
        <th>Completed At</th>
      </tr>
    </thead>
    <tbody>
      <%= render @team.milestone_teams %>
    </tbody>
  </table>
</section>

<section class="last">
  <% if current_omniauthable.is_a?(Buspreneur) and current_omniauthable.team == @team %>
    <h3>Pending Milestones</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Milestone</th>
          <th>URL</th>
          <th>Description</th>
          <th>Submitted At</th>
        </tr>
      </thead>
      <tbody>
        <%= render @team.team_milestone_requests %>
      </tbody>
    </table>
  <% end %>
</section>
