
<section class="box">
    <div class="col-sm-1">
      <%= image_tag @team.photo_url, alt: @team.name, class: "pull-left" %>
    </div>
    <div class="component-box">
    <p>You are investing in <%= link_to @team.name, @team.short_url %>!</p>

<p>You have <%= number_to_currency @investment.investor.bank %> available.</p>

<%= simple_form_for [@team, @investment] do |f| %>
<div class="form-group">
  <%= f.input :amount, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit :class => "btn btn-block btn-primary" %>
  </div>
<% end %>


</div>
</section>

