<%= form_for(@mt, :url => approve_me_admin_team_milestone_request_path, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @mt.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <h4><%= pluralize(@mt.errors.count, "error") %> prohibited this milestone request from being saved:</h4>

      <ul>
      <% @mt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Points", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :awarded_points, :class => "form-control" %>
    </div>
  </div>

  <%= f.submit "Approve Milestone Request", :class => "btn btn-block btn-primary"  %>
<% end %>
