<div class="col-sm-6 col-md-4">
  <div class="thumbnail sb-item-summary">
    <%= image_tag investments.team.bus_photo_url(width: 50, height: 50), class: "sb-bus-icon" %>
    <%= image_tag investments.team.photo_url(width: 300, height: 600), alt: investments.team.name %>

    <div class="caption">
      <%= content_tag :h3, link_to(investments.team.name, team_path(investments.team)) %> (<%= @click_count[investments.url] %> clicks)
      <p>
        Your Investment:<span class="sb-funding-amount">
           <%= number_to_currency investments.amount %>
        </span> </br>

        Total Funding:<span class="sb-funding-amount">
           <%= number_to_currency investments.team.funding %>
        </span> </br>

         Current Ranking: 2</br>

         Description:  <%= investments.team.description %><br />
         Your Short URL: <%= link_to investments.url, investments.url %>
      </p>


  
    </div>
      <div class="clearfix">
        <%= link_to new_team_investment_path(investments.team),
          class: "btn btn-success col-xs-6", role: "button" do %>
          <i class="fa fa-dollar"></i> Invest
        <% end %>

        <%= link_to investments.team, class: "btn btn-default col-xs-6", role: "button" do %>
          Learn More
        <% end %>
      </div>
  </div>
</div>