<%= form_for(@team_milestone_request, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @team_milestone_request.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <h4><%= pluralize(@team_milestone_request.errors.count, "error") %> prohibited this milestone request from being saved:</h4>

      <ul>
      <% @team_milestone_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "URL", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :url, :class => "form-control", :value => "http://" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Description", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :description, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Milestone", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.select(:milestone_id, @team.milestones_uncompleted) %>
    </div>
  </div>

  <%= f.submit "Submit Milestone Request", :class => "btn btn-block btn-primary"  %>
<% end %>
