<% for_team ||= false %>

<div class="col-xs-6 col-sm-4  sb-buspreneur-container">
	<%= link_to buspreneur do %>
	<div class="sb-buspreneur">
		<%= image_tag buspreneur.photo_url(width: 50, height: 50), alt: "team name" %>
		<h4>
			<%= buspreneur.name %>
		</h4>
		<p>
			<%= buspreneur.description %>
		</p>
		<% unless for_team %>
			<span class="sb-buspreneur-team">Team: <a href="#"><%= buspreneur.team_name %></a></span>
		<% end %>
		</div>
	<% end %>
</div>