<header class="sb-profile-header">
  <div class="row">

    <div class="col-sm-9">
      <%= image_tag @buspreneur.photo_url(type: :large), class: "img-rounded" %>
      <h2><%= @buspreneur.name %></h2>

      <% if @buspreneur.team.present? %>
        <span class="sb-profile-meta">
          Team: <%= link_to @buspreneur.team_name.try(:humanize), @buspreneur.team %>
        </span>

        <span class="sb-profile-meta">
          Bus: <%= link_to @buspreneur.bus_name.try(:humanize), @buspreneur.bus %>
        </span>
      <% end %>
    </div>

    <div class="col-sm-3">
      <% if can? :edit, @buspreneur %>
        <%= link_to "Edit profile", edit_buspreneur_path(@buspreneur),  class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>

  <div class="clearfix"></div>
</header>

<section>

<% if can? :edit, @buspreneur %>


<% unless @buspreneur.team.present? %>
    <h5>Join an existing team:</h5>
    <%= simple_form_for @buspreneur do |f| %>
      <%= f.input :team_id, as: :select, collection: Team.all %>
      <%= f.submit value: "Set Team" %>
    <% end %>

    OR

    <h5>
      <%= link_to "Create a team", new_team_path %>
    </h5>
  <% end %>
<% end %>
  <%= content_tag :p, @buspreneur.description, class: "sb-profile-lead" %>
</section>