<h1>You're a buspreneur, congrats!</h1>

<div class="row">
  <div class="col-md-7">
    <h2>Your Profile</h2>

    <h3>Your Pic:</h3>
    <%= image_tag @buspreneur.photo_url(type: :large), class: "img-rounded" %>

    <h3>Your Bio:</h3>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>
  </div>
  <div class="col-md-5">
  <% if @buspreneur.team.present? %>
    <h2>Your Team Status</h2>
    <p>Team: <%= link_to @buspreneur.team_name.try(:humanize), @buspreneur.team %></p>
    <p>Bus: <%= link_to @buspreneur.bus_name.try(:humanize), @buspreneur.bus %></p>

    <h3>Milestones Completed</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Milestone</th>
          <th>Possible Points</th>
          <th>Points Received</th>
          <th>Deadline</th>
          <th>Completed At</th>
        </tr>
      </thead>
      <tbody>
      <% @buspreneur.team.milestones_completed.each do |completed_milestone| %>
        <tr class="success">
          <td><%= completed_milestone.name %></td>
          <td><%= completed_milestone.max_points %></td>
          <td><%= completed_milestone.milestone_teams.first.awarded_points %></td>
          <td><%= completed_milestone.target_completion_date.strftime("%d-%m-%y") %></td>
          <td><%= completed_milestone.target_completion_date.strftime("%d-%m-%y") %></td>
        </tr>
      <% end %>
      <% @buspreneur.team.milestones_pending.each do |pending_milestone| %>
        <tr class="warning">
          <td><%= pending_milestone.name %></td>
          <td><%= pending_milestone.max_points %></td>
          <td>0</td>
          <td><%= pending_milestone.target_completion_date.strftime("%d-%m-%y") %></td>
          <td><%= pending_milestone.target_completion_date.strftime("%d-%m-%y") %></td>
        </tr>
      <% end %>
     </tbody>
  </table>
    <% end %>
  </div>
</div>


