<h1>You're a buspreneur, congrats!</h1>

<% if @buspreneur.social_media_image_url.nil? %>
  <%= form_for(@buspreneur, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @buspreneur.errors.any? %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4><%= pluralize(@buspreneur.errors.count, "error") %> prohibited this team from being saved:</h4>

        <ul>
        <% @buspreneur.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label "Image URL", :class => "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :image_url, :class => "form-control" %>
      </div>
    </div>

    <%= f.submit "Create team", :class => "btn btn-block btn-primary"  %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <h2>Your Profile</h2>

    <h3>Your Pic:</h3>
    <%= image_tag @buspreneur.photo_url(type: :large), class: "img-rounded" %>

    <h3>Your Bio:</h3>
    <%= content_tag :p, @buspreneur.description, class: "lead" %>
  </div>

  <div class="col-md-5">
    <% if @buspreneur.team.present? %>
      <h2>Your Team Status</h2>
      <p>Team: <%= link_to @buspreneur.team_name.try(:humanize), @buspreneur.team %></p>
      <p>Bus: <%= link_to @buspreneur.bus_name.try(:humanize), @buspreneur.bus %></p>

      <h3>Milestones Completed</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Milestone</th>
            <th>Possible Points</th>
            <th>Points Received</th>
            <th>Deadline</th>
            <th>Completed At</th>
          </tr>
        </thead>
        <tbody>
          <% @buspreneur.team.all_milestones.each do |milestone| %>
            <% if @buspreneur.team.milestones.include?(milestone) %>
              <tr class="success">
                <td><%= milestone.name %></td>
                <td><%= milestone.max_points %></td>
                <td><%= milestone.milestone_teams.first.awarded_points %></td>
                <td><%= milestone.target_completion_date.strftime("%d-%m-%y") %></td>
                <td><%= milestone.milestone_teams.first.created_at.strftime("%d-%m-%y") %></td>
              </tr>
            <% else %>
              <tr class="warning">
                <td><%= milestone.name %></td>
                <td><%= milestone.max_points %></td>
                <td>0</td>
                <td><%= milestone.target_completion_date.strftime("%d-%m-%y") %></td>
                <td>N/A</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
