<section class="first">

<h1><%= @buspreneur.name %></h1>

<% if can? :edit, @buspreneur %>
  <%= link_to "Edit profile", edit_buspreneur_path(@buspreneur) %>

  <% unless @buspreneur.team.present? %>
    <h5>Join an existing team:</h5>
    <%= simple_form_for @buspreneur do |f| %>
      <%= f.input :team_id, as: :select, collection: Team.all %>
      <%= f.submit value: "Set Team" %>
    <% end %>

    OR

    <h5>
      <%= link_to "Create a team", new_team_path %>
    </h5>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <h2>Profile</h2>

    <h3>Your Pic:</h3>
    <%= image_tag @buspreneur.photo_url(type: :large), class: "img-rounded" %>

    <h3>Your Bio:</h3>
    <%= content_tag :p, @buspreneur.description, class: "lead" %>
  </div>

  <div class="col-md-5">
    <% if @buspreneur.team.present? %>
      <h2>Your Team Status</h2>
      <p>Team: <%= link_to @buspreneur.team_name.try(:humanize), @buspreneur.team %></p>
      <p>Bus: <%= link_to @buspreneur.bus_name.try(:humanize), @buspreneur.bus %></p>

      <h3>Milestones Completed</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Milestone</th>
            <th>Possible Points</th>
            <th>Points Received</th>
            <th>Deadline</th>
            <th>Completed At</th>
          </tr>
        </thead>
        <tbody>
          <% @buspreneur.team.all_milestones.each do |milestone| %>
            <% if @buspreneur.team.milestones.include?(milestone) %>
              <tr class="success">
                <td><%= milestone.name %></td>
                <td><%= milestone.max_points %></td>
                <td><%= milestone.milestone_teams.first.awarded_points %></td>
                <td><%= milestone.target_completion_date.strftime("%d-%m-%y") %></td>
                <td><%= milestone.milestone_teams.first.created_at.strftime("%d-%m-%y") %></td>
              </tr>
            <% else %>
              <tr class="warning">
                <td><%= milestone.name %></td>
                <td><%= milestone.max_points %></td>
                <td>0</td>
                <td><%= milestone.target_completion_date.strftime("%d-%m-%y") %></td>
                <td>N/A</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


</section>