<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>The Game | Startup Bus 2014</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/qgw6ayk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <nav class="navbar navbar-default  navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to image_tag('sb-game-logo.svg'), root_path %>
        </div>

        <% unless omniauthable_signed_in? %>
          <p class="navbar-text">StartupBus North America 2014</p>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
      <% if omniauthable_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_omniauthable.photo_url(height: 25, width: 25), class: "avatar" %>
            <%= current_omniauthable.name %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
          <% if can?(:manage, :all) %>
            <li>
              <%= link_to "Admin", admin_root_path %>
            </li>
            <% end %>
            <li>
              <%= link_to "My profile", current_omniauthable  %>
            </li>
            <% if can?(:edit_profile, current_omniauthable) %>
              <li>
                <%= link_to "Edit my profile", url_for([:edit, current_omniauthable]) %>
              </li>
            <% end %>
            <li>
              <%= link_to "Sign Out", destroy_omniauthable_session_path, :method => :delete %>
            </li>
          </ul>
        </li>
      <% else %>

        <%= link_to omniauthable_omniauth_authorize_path(:facebook), class:"btn btn-default btn-facebook" do %>
          <i class="fa fa-facebook"></i> Sign In
        <% end %>
      <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="clearfix"></div>
  
    <div class="sb-footer">
      <div class="container">
        Startup Bus &copy; 2014

        <br />
        <br />
        <br />

        <center><b>Thanks to our awesome sponsors</b></center>

        <br />

        <div class="row">
          <div class="col-sm-2  col-sm-offset-1">
            <%=  image_tag('elance.png') %>
          </div>
          <div class="col-sm-2">
            <%=  image_tag('rackspace.png') %>
          </div>
          <div class="col-sm-2">
            <%=  image_tag('kauffman.png') %>
          </div>
          <div class="col-sm-2">
            <%=  image_tag('possible.png') %>
          </div>
          <div class="col-sm-2">
            <%=  image_tag('vmware.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
